@import 'src/assets/styles/themes.scss';

.todosSublist {
  &-todo {
    display: block;
    margin: 0 15px;
    & + & {
      margin-top: 5px;
    }

    @include hover(0) {
      background-color: $green-200;
    }
  }
}
